@layer sigui.base {
  .sg-button-group {
    display: inline-flex;
    font-family: var(--sg-font-family, system-ui);
  }

  .sg-button-group[data-orientation="horizontal"] {
    flex-direction: row;
  }

  .sg-button-group[data-orientation="vertical"] {
    flex-direction: column;
  }

  .sg-button-group[data-orientation="horizontal"] > :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }

  .sg-button-group[data-orientation="horizontal"] > :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .sg-button-group[data-orientation="vertical"] > :not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
  }

  .sg-button-group[data-orientation="vertical"] > :not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

}
